<ion-header>
  <ion-navbar>
    <ion-title>Remote</ion-title>
    <ion-buttons end>
      <button (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="browse">
  <ion-list *ngIf="browseArray">
    <ion-item-divider light>{{ location }}</ion-item-divider>
    <ion-item *ngFor="let item of browseArray" (click)="goToPath(item.name)">
        <ion-icon name="{{ item.type }}" item-left></ion-icon>
        <h2>{{ item.name }}</h2>
        <p *ngIf="item.type != 'folder'">{{ item.size }} • {{ item.date_modified }}</p>
    </ion-item>
  </ion-list>
</ion-content>
