<ion-header>
  <ion-navbar>
    <ion-title>Info</ion-title>
    <ion-buttons end>
      <button (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="info">
    <div *ngIf="currentlyPlaying && variables.connected">
    <ion-card class="cover-image"
        *ngIf="currentlyPlaying.anime.cover_image != '/cover_images/thumb/missing.png'">
        <img src="{{ currentlyPlaying.anime.cover_image }}"/>
        <div class="card-title">{{ currentlyPlaying.anime.titles.canonical }}</div>
        <div class="card-subtitle">{{ currentlyPlaying.anime.episode_count }} Episodes</div>
    </ion-card>
    <ion-card class="cover-no-image"
        *ngIf= "currentlyPlaying.anime.cover_image == '/cover_images/thumb/missing.png' || !currentlyPlaying.anime.cover_image">
        <div class="card-title">{{ currentlyPlaying.anime.titles.canonical }}</div>
        <div class="card-subtitle">{{ currentlyPlaying.anime.episode_count }} Episodes</div>
    </ion-card>
    <ion-card>
        <ion-item>
            <h1>{{ currentlyPlaying.anime.titles.canonical }}</h1>
            <div class="genres">
                <ion-badge class="genre" item-right *ngFor="let genre of generateArray(currentlyPlaying.anime.genres)">
                    {{ genre }}
                </ion-badge>
            </div>
        </ion-item>
        <ion-card-content>
            <p><span>Started airing: </span>{{ currentlyPlaying.anime.started_airing_date }}</p>
            <p><span>Finished airing: </span>{{ currentlyPlaying.anime.finished_airing_date }}</p>
            <p><span>Episodes: </span>{{ currentlyPlaying.anime.episode_count }}</p>
            <p><span>Episode Length: </span>{{ currentlyPlaying.anime.episode_length }}</p>
            <p><span>Synopsis: </span>{{ currentlyPlaying.anime.synopsis }}</p>
        </ion-card-content>      
    </ion-card>
    <div *ngIf="currentlyPlayingEpisode">
    <ion-card>
        <ion-item>
            <h2>Season: {{ currentlyPlayingEpisode.season_number || '??' }} - Episode: {{ currentlyPlayingEpisode.number || '??' }}</h2>
            <h3>{{ currentlyPlayingEpisode.title }}</h3>
        </ion-item>
        <ion-card-content>
            <p><span>Airdate: </span>{{ currentlyPlayingEpisode.airdate || 'N/A' }}</p>
            <p><span>Synopsis: </span>{{ currentlyPlayingEpisode.synopsis || 'N/A' }}</p>
        </ion-card-content>     
    </ion-card>
    </div>
    </div>

    <div *ngIf="!variables.connected">
        <ion-grid>
            <ion-row>
                <div class="connected">
                    Not Connected
                </div>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
