.info {
    ion-card {
        position: relative;
    }

    .cover-no-image {
        background-color: #333;
        height: 200px;
    }

    .card-title {
        position: relative;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }

    .card-subtitle {
        font-size: 1.0em;
        position: relative;
        top: 52%;
        width: 100%;
        color: #fff;
        text-align: center;
    }

    .poster-image {
        width: 100%;
        height: auto;
    }

    .genres {
        display: block;
    }

    .genre {
        float: left;
    }
}
