.info {
    ion-card {
        position: relative;
    }

    .card-title {
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }

    .card-subtitle {
        font-size: 1.0em;
        top: 52%;
        width: 100%;
        color: #fff;
        text-align: center;
    }

    .cover-image {
        .card-title {
            position: absolute;
        }

        .card-subtitle {
            position: absolute;
        }
    }

    .cover-no-image {
        background-color: #333;
        height: 200px;

        .card-title {
            position: relative;
        }

        .card-subtitle {
            position: relative;
        }
    }

    .poster-image {
        width: 100%;
        height: auto;
    }

    .genres {
        display: block;
    }

    .genre {
        float: left;
    }

    .connected {
        height: 50px;
        width: 100%;
        background: #bad;
        font-size: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
